/* src/styles/global.css */

/* === VARIABLES & GLOBAL RESET === */
:root {
    --color-primary: #FF8A65; /* Cam Chủ đạo */
    --color-secondary: #F4511E; /* Cam Đậm (Nhấn) */
    --color-background: #FFF3E0; /* Nền Kem ấm */
    --color-text-dark: #3E2723; /* Nâu Đất Đậm (Text) */
    --color-text-light: #5D4037; /* Nâu ấm */
    --color-gray-border: #D7CCC8; /* Xám ấm */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
.App {
    min-height: 100vh;
}